.block-caption {
    display: block;
    position: relative;
    font-style: normal;
    padding: 10px 0;
    font-family: 'Hoefler Text', 'Georgia', serif;
    margin: 0 0 20px 0;
    background-color: #F7F7F7;
    border-radius: 5px;

    // a {
    //     color: #08c;
    //     text-decoration: none;
    // }

    &::before {
        content: '“';
        color: #ccc;
        display: inline;
        position: absolute;
        left: -25px;
        top: -5px;
        font-size: 3em;
    }
    &::after {
        content: '”';
        color: #ccc;
        position: absolute;
        right: -25px;
        top: -5px;
        font-size: 3em;
    }

    .public-DraftStyleDefault-ltr {
        text-align: center;
    }
}
