figure.md-block-image {
    // margin: 0;
    margin: 10px 0;
    background: #fbfbfb;
    img {
        cursor: default;
        max-width: 100%;
        border: 1px solid #eee;
        box-sizing: border-box;

        &.is-selected {
            box-shadow: 0 0 0 3px #02b875;
        }
    }

    figcaption {
        display: block;
        font-size: 14px;
        line-height: 1.4;
        color: rgba(0,0,0,.6);
        letter-spacing: 0;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        padding: 5px 0;

        .public-DraftStyleDefault-block {
            text-align: center;
        }
    }

    .md-block-image-inner-container {
        position: relative;
    }
    .md-block-image-toolbar-container {
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
    }
}
