$add-btn-width: 30px;


.md-side-toolbar {
  display: flex;
  position: absolute;
  z-index: 1;
  left: -35px;
  top: 0;
  transition: all 0.2s ease;
}

.md-sb-button {
  background: none;
  border: 1px solid #5b5b5b;
  color: #6D6D6D;
  cursor: pointer;
  height: $add-btn-width;
  width: $add-btn-width;
  border-radius: $add-btn-width/2;
  font-weight: bold;
  font-size: 20px;
  margin-right: 2px;
  text-align: center;
  transition: all 0.2s ease;

  &:focus {
    outline: none;
    border-color: #08c;
    color: #08c;
  }

  &:hover {
    color: green;
  }

  &.md-sb-img-button {
    background: none;
    background-color: white;
  }

  svg path {
    stroke-width: 0;
    fill: #545454;
  }
}

.md-add-button {
  &-button {
    transform: rotate(45deg);
  }
}

.md-add-btn-anim-appear {
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.md-add-btn-anim-appear.md-add-btn-anim-appear-active {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all .5s ease-in;
}

.md-add-btn-anim-enter {
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.md-add-btn-anim-enter.md-add-btn-anim-enter-active {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 500ms ease-in;
}

.md-add-btn-anim-exit {
  opacity: 1;
}

.md-add-btn-anim-exit.md-add-btn-anim-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
