$add-btn-width: 30px;


.md-side-toolbar {
    position: absolute;    
    z-index: 1;
    left: -35px;
    top: 0;
    transition: all 0.2s ease;
}

.md-sb-button {
    background: none;
    // background-color: #EAEAEA;
    border: none;
    // border: 1px solid #A0A0A0;
    color: #6D6D6D;
    cursor: pointer;
    height: $add-btn-width;
    width: $add-btn-width;
    border-radius: $add-btn-width/2;
    font-weight: bold;
    font-size: 20px;
    margin-right: 2px;
    text-align: center;
    transition: all 0.2s ease;

    // &.md-sb-img-button {
    //     width: inherit;
    // }

    &:focus {
        outline: none;
        border-color: #08c;
        color: #08c;
    }

    &:hover {
        color: green;
    }

    &.md-sb-img-button {
      background: none;
      background-color: white;
    }
}

.md-add-button {

    &.md-open-button {
        transform: rotate(45deg);
    }
}

.md-example-appear {
  // opacity: 0.01;
  // transform: translateX(-25px) scale(0.1);
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.md-example-appear.md-example-appear-active {
  // opacity: 1;
  // transform: translate(0px, 0px) scale(1, 1) rotate(135deg);
  // transform: translateX(0px), scale(1);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all .5s ease-in;
}

.md-example-enter {
  // opacity: 0.01;
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.md-example-enter.md-example-enter-active {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 500ms ease-in;
}

.md-example-leave {
  opacity: 1;
}

.md-example-leave.md-example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
