.editor-toolbar {
  background: #000;
  color: #fff;
  cursor: auto;
  border-radius: 2px;
  z-index: 2;
  position: absolute;
  transition: all 0.1s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  .url-input {
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #08c;

    &:focus {
      outline: none;
      // border-color: #50FF4D;
      // background-color: #eee;
    }
  }
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  display: inline-block;
  border-right: 1px solid #555;

  &.RichEditor-show-link-input {
    padding: 4px 10px;
  }

  &:last-child {
    border-right: none;
  }

  .RichEditor-linkButton {
    color: #fff;
    text-decoration: none;
  }
}

.RichEditor-styleButton {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 4px 10px;

  &:hover {
    color: yellow;
  }

  &:last-child {
    margin-right: 0;
  }

  &.RichEditor-styleButton-bold {
    font-weight: bold;
  }
  &.RichEditor-styleButton-italic {
    font-style: italic;
  }
  &.RichEditor-styleButton-underline {
    text-decoration: underline;
  }
  &.RichEditor-styleButton-strikethrough {
    text-decoration: line-through;
  }
}

.RichEditor-activeButton {
  color: #50FF4D;

  &:hover {
    color: #08c;
  }
}
