@keyframes pop-upwards{
  0% {
    transform:matrix(.97,0,0,1,0,12);
    opacity:0;
  }
  20% {
    transform:matrix(.99,0,0,1,0,2);
    opacity:.7;
  }
  40% {
    transform:matrix(1,0,0,1,0,-1);
    opacity:1;
  }
  70% {
    transform:matrix(1,0,0,1,0,0);
    opacity:1;
    }
  100% {
    transform:matrix(1,0,0,1,0,0);
    opacity:1;
  }
}

@keyframes pop-downwards{0%{transform:matrix(.97,0,0,1,0,-12);opacity:0}20%{transform:matrix(.99,0,0,1,0,-2);opacity:.7}40%{transform:matrix(1,0,0,1,0,1);opacity:1}70%{transform:matrix(1,0,0,1,0,0);opacity:1}100%{transform:matrix(1,0,0,1,0,0);opacity:1}}


$toolbar-color: #2b2b2b;


.md-editor-toolbar {
  background: $toolbar-color;
  color: #fff;
  cursor: auto;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  transition: all 0.1s ease;
  visibility: hidden;
  background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625);

  // transition: top 75ms ease-out,left 75ms ease-out;

  &.md-editor-toolbar--isopen {
    visibility: visible;
    // transition: top 75ms ease-out,left 75ms ease-out;
    // animation: pop-upwards 180ms forwards linear;
  }

  &.md-editor-toolbar--linkinput {
    // display:block;
    animation: pop-downwards 200ms forwards linear;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid $toolbar-color;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  .md-url-input {
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    background: $toolbar-color;
    color: #fff;
    font-size: 16px;
    font-weight: 100;

    &:focus {
      outline: none;
      // border-color: #50FF4D;
      // background-color: #eee;
    }
  }

  .md-url-input-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
  }
}

.md-RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  display: inline-block;
  border-right: 1px solid #555;
  position: relative;

  &.md-RichEditor-show-link-input {
    padding: 6px 10px;
  }

  &:last-child {
    border-right: none;
  }

  .md-RichEditor-linkButton {
    color: #fff;
    text-decoration: none;
  }
}

.md-RichEditor-styleButton {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 6px 10px;

  &:hover {
    color: yellow;
  }

  &:last-child {
    margin-right: 0;
  }

  &.md-RichEditor-styleButton-bold {
    font-weight: bold;
  }
  &.md-RichEditor-styleButton-italic {
    font-style: italic;
  }
  &.md-RichEditor-styleButton-underline {
    text-decoration: underline;
  }
  &.md-RichEditor-styleButton-strikethrough {
    text-decoration: line-through;
  }
}

.md-RichEditor-activeButton {
  color: #50FF4D;

  &:hover {
    color: #08c;
  }
}
