$md-block-header-one-font-size: 2em !default;
$md-block-header-two-font-size: 1.7em !default;
$md-block-header-three-font-size: 1.3em !default;
$md-block-header-four-font-size: 1em !default;
$md-block-header-five-font-size: .8em !default;
$md-block-header-six-font-size: .7em !default;
$md-block-header-margin-bottom: 5px !default;

.md-block-header-one {
  font-size: $md-block-header-one-font-size;
}
.md-block-header-two {
  font-size: $md-block-header-two-font-size;
}
.md-block-header-three {
  font-size: $md-block-header-three-font-size;
}
.md-block-header-four {
  font-size: $md-block-header-four-font-size;
}
.md-block-header-five {
  font-size: $md-block-header-five-font-size;
}
.md-block-header-six {
  font-size: $md-block-header-six-font-size;
}

.md-block-header-one,
.md-block-header-two,
.md-block-header-three,
.md-block-header-four,
.md-block-header-five,
.md-block-header-six {
  margin-bottom: $md-block-header-margin-bottom;
}

$md-block-blockquote-padding: 10px 0 10px 15px !default;
$md-block-blockquote-bg-color: #e2f2ff !default;
$md-block-blockquote-font-size: 1.1em !default;

.md-block-blockquote {
  margin: 0;
  // border-left: 5px solid #4CA8DE;
  padding: $md-block-blockquote-padding;
  background-color: $md-block-blockquote-bg-color;
  font-size: $md-block-blockquote-font-size;
}

$md-block-image-margin: 0 0 10px 0 !default;

.md-block-image {
  margin: $md-block-image-margin;

  img {
    width: 100%;
  }

  figcaption {
    text-align: center;
    font-size: 0.9em;
  }
}

$md-block-todo-margin: 10px 0 10px 0 !default;
.md-block-todo {
  margin: $md-block-todo-margin;

  input[type=checkbox] {
    float: left;
    position: relative;
    top: 0px;
    left: -2px;
  }
  p {
    margin-left: 18px;
  }
}

.md-block-unordered-list-item,
.md-block-ordered-list-item {
  padding-left: 20px;

  li {
    margin-bottom: 5px;
  }
}

$md-block-atomic-embed-margin: 10px 0 !default;

.md-block-atomic-embed {
  margin: $md-block-atomic-embed-margin;
}

$md-block-atomic-break-border: 2px solid #ccc !default;
.md-block-atomic-break {
  hr {
    max-width: 100px;
    border: $md-block-atomic-break-border;
  }
}

.md-inline-code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin: 4px 0px;
  font-size: 0.9em;
  padding: 1px 3px;
  color: rgb(85, 85, 85);
  background-color: rgb(252, 252, 252);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187);
  border-image: initial;
  border-radius: 3px;
  box-shadow: rgb(187, 187, 187) 0px -1px 0px inset;
}

$md-inline-link-color: #08c !default;
$md-inline-link-visited-color: #08c !default;
.md-inline-link {
  color: $md-inline-link-color;

  &:visited {
    color: $md-inline-link-visited-color;
  }
}

.md-inline-highlight {
  background: yellow;
  display: inline;
  padding: 2px 4px;
}

p {
  &.md-block-block-quote-caption {
    &::before {
      content: '\2013';
      color: #999;
      float: left;
      font-weight: bold;
      display: inline;
      margin-right: 10px;
    }

    margin-top: 0;
    font-size: 0.8em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background: #fafafa;
  }
}
