body {
  font-size: 18px;
}

a, a:visited {
  color: #1717EF;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
  padding: 15px 30px;
  position: relative;

  max-width: 800px;
  margin: 0 auto;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  margin-top: 10px;
  position: relative;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0px -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #ddd;
  color: #555;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-size: 1.1em;
  // font-style: italic;
  // margin: 0;
  // padding: 10px 20px;
  margin: 0;
  padding: 5px 0 5px 20px;
  // border-left: 5px solid #FFCDBA;

  // &:first-child {
  //   margin-top: 0;
  // }

  // &:last-child {
  //   margin-bottom: 0;
  // }
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
  display: inline-block;
  // border-right: 1px solid #222;
  // margin-left: 10px;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
}

.RichEditor-activeButton {
  color: #5890ff;
}
