@import './components/addbutton';
@import './components/toolbar';
@import './components/blocks/atomic';
@import './components/blocks/blockquotecaption';
@import './components/blocks/caption';
@import './components/blocks/image';
@import './components/blocks/text';
@import './components/blocks/todo';
@import './components/blocks/code';

.md-RichEditor-root {
  background: #fff;
  box-sizing: border-box;
  padding: 15px 30px;
  position: relative;
  line-height: 1.4em;
}


.md-RichEditor-editor {
  cursor: text;
  margin-top: 10px;
  position: relative;
  margin: 0 auto;

  h3 {
    font-size: 1.3em;
    margin: 1.2em 0;
  }
}

.md-RichEditor-editor {
  .public-DraftEditor-content {
    min-height: 100px;
  }

  .md-RichEditor-blockquote {
    border-left: 5px solid #4CA8DE;
    color: #555;
    //font-family: 'Hoefler Text', 'Georgia', serif;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0 10px 20px;
    background-color: #E2F2FF;

    // .public-DraftStyleDefault-block:first-child {
    //   padding-top: 10px;
    // }

    // cite {
    //   .public-DraftStyleDefault-block:first-child {
    //     padding-top: 0;
    //   }
    // }
  }
}

.md-RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.md-RichEditor-blockquote {
  a {
    text-decoration: underline;
  }
}

// .public-DraftEditor-content {
//   .md-block:first-child {
//     margin-top: 0;
//     padding-top: 0;
//   }
// }

.md-RichEditor-editor .public-DraftStyleDefault-pre {
  margin-top: 10px;
}

.public-DraftStyleDefault-unorderedListItem,
.public-DraftStyleDefault-orderedListItem {
  margin-bottom: 10px;
}

.md-editor-action {
  position: fixed;
  top: 5px;
  left: 5px;

  button {
    display: block;
  }
}
