$editor-padding: 1rem 2rem 4rem !default;
$editor-border-radius: 4px !default;
$editor-border-color: #e7e7e7 !default;
$editor-placeholder-color: #9197a3 !default;

.md-RichEditor-root {
  border: 1px solid $editor-border-color;
  border-radius: $editor-border-radius;
  line-height: inherit;
  padding: $editor-padding;

  .public-DraftEditorPlaceholder-root {
    color: $editor-placeholder-color;
    margin: 0 -1rem -1rem;
    padding: 1rem;
  }

  .public-DraftEditor-content {
    margin: 0 -1rem -1rem;
    padding: 1rem;
  }
}

.md-RichEditor-editor {
  cursor: text;
  margin-top: 10px;
  position: relative;
  margin: 0 auto;

  h3 {
    font-size: 1.3em;
    margin: 1.2em 0;
  }

  .public-DraftEditor-content {
    min-height: 100px;
  }
}

.md-RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.md-RichEditor-editor .md-RichEditor-blockquote {
  border-left: 5px solid #4CA8DE;
  color: #555;
  //font-family: 'Hoefler Text', 'Georgia', serif;
  font-size: 1.2em;
  margin: 0;
  padding: 10px 0 10px 20px;
  background-color: #E2F2FF;
}

.md-RichEditor-blockquote {
  a {
    text-decoration: underline;
  }
}

.public-DraftEditor-content {
  .md-block:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

.md-RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  //font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.public-DraftStyleDefault-unorderedListItem,
.public-DraftStyleDefault-orderedListItem {
  margin-bottom: 10px;
}

.md-editor-action {
  position: fixed;
  top: 5px;
  left: 5px;

  button {
    display: block;
  }
}
